.course-authors
    each i in data
        .course-authors__item.course-author
            .course-author__left
                .course-author__prof= i.prof
                .course-author__name= i.name
                if i.title
                    .course-author__title= i.title
                .course-author__desc= i.desc
            .course-author__right
                .course-author__img
                    img(src=i.img alt=i.name)