.course-training
    .course-training__title.ui-heading-2 Мастер классы:
    .course-training__items
        -
            var data = [
                {
                    img: '/images/content/course-training/1.webp',
                    title: 'Психологическая готовность к открытию клиники',
                    date: '05.07.23 12:00-14:00',
                    content: '<p>Генеральный директор ведущего медицинского холдинга, входящего в ТОП-200 многопрофильных клиник России (по версии\n' +
                            '  Vademecum, 2022 г.)</p>\n' +
                            '<p>Входит в топ-100 генеральных директоров России с 2017 г.</p>\n' +
                            '<p>Врач акушер-гинеколог, кандидат медицинских наук</p>\n' +
                            '<p>В медицинском бизнесе с 2003 года, путь начала с маленького гинекологического кабинета, где работала\n' +
                            '  самостоятельно</p>\n' +
                            '<p>Обладатель степени Executive MBA</p>\n' +
                            '<p>Основатель Медицинского корпоративного университета</p>\n' +
                            '<p>Автор книг и запатентованных курсов для врачей, администраторов и медицинских управленцев</p>'
                },
                {
                    img: '/images/content/course-training/2.webp',
                    title: 'Как открыть прибыльный медицинский бизнес',
                    date: '12.07.23 16:00-18:00',
                    content: '<p>Выбор ниши и структуры бизнеса· Оценка опыта и компетенций в бизнесе· Пошаговый алгоритм открытия клиники· Как\n' +
                            '    сэкономить при открытии клиники</p>\n' +
                            '<p><b>Марина Петрянина,</b> врач, основатель и руководитель Экспертного Центра «МедСтандарт», сопровождение открытия более 7000\n' +
                            '    салонов красоты и клиник с 2014 года, Разработчик государственных санитарных норм и правил (СанПиН) для\n' +
                            '    парикмахерских и салонов красоты</p>'
                },
                {
                    img: '/images/content/course-training/3.webp',
                    title: 'Формула продаж медицинской клиники или как сделать маркетинг системным, измеряемым и управляемым',
                    date: '05.07.23 12:00-14:00',
                    content: '<p>Формула удвоения продаж и 17 показателей маркетинга, которые необходимо контролировать, измерять и улучшать· 14\n' +
                            '    шагов, которые нужно сделать, чтобы разработать стратегический маркетинговый план· Как объединить все тактические\n' +
                            '    инструменты (сайт, социальные сети, рекламу и т.д.), чтобы система маркетинга работала синхронно· Как отстроиться от\n' +
                            '    конкурентов и перестать отдавать им пациентов· Как в стратегии появляются цифры, которые вам нужно анализировать\n' +
                            '    ежедневно</p>\n' +
                            '<p><b>Владислав Смазнов,</b> эксперт по медицинскому маркетингу, основатель и руководитель агентства медицинского маркетинга\n' +
                            '    VIQTORY, врач-кардиолог, к.м.н., опыт директора по маркетингу более 20 лет, приглашенный преподаватель МГУ, МКУ,\n' +
                            '    Медицинский университет (г. Тюмень)</p>'
                },
                {
                    img: '/images/content/course-training/4.webp',
                    title: 'Автоматизация медицинского центра. Современные медицинские системы',
                    date: '12.07.23 16:00-18:00',
                    content: '<p>Выбор ниши и структуры бизнеса· Оценка опыта и компетенций в бизнесе· Пошаговый алгоритм открытия клиники· Как\n' +
                            '    сэкономить при открытии клиники</p>\n' +
                            '<p><b>Марина Петрянина,</b> врач, основатель и руководитель Экспертного Центра «МедСтандарт», сопровождение открытия более 7000\n' +
                            '    салонов красоты и клиник с 2014 года, Разработчик государственных санитарных норм и правил (СанПиН) для\n' +
                            '    парикмахерских и салонов красоты</p>'
                },
            ];
        each i in data
            .course-training__item
                .course-training__item-img
                    img(src=i.img alt=i.title)
                .course-training__item-title.ui-heading-2= i.title
                .course-training__item-date= i.date
                .course-training__item-content!=i.content


