div(style='--banner-color: #FFFFFF').banner
    .banner__img
        picture
            source(srcset=`/images/content/banner/${data.img}-767.webp` media='(max-width: 767.98px)')
            source(srcset=`/images/content/banner/${data.img}-1023.webp` media='(max-width: 1023.98px)')
            source(srcset=`/images/content/banner/${data.img}-1439.webp` media='(max-width: 1439.98px)')
            source(srcset=`/images/content/banner/${data.img}-1919.webp` media='(max-width: 1919.98px)')
            img(src=`/images/content/banner/${data.img}.webp` alt='img')
    .container
        .banner__container
            .banner__wrap
                .banner__bread
                    - var bread = data.bread
                    include ../bread/index
                .banner__content!= data.content
            if data.advantages
                .banner__advantages
                    include ../banner-advantages/index
